



.navbar-filadelfia {
    font-family: 'Lilita One', cursive;
    font-size: 35px;
    text-decoration: none;
    color:azure
}

.jumbotron{
    
    background-size: cover;
    
}

.carousel-caption .filadelfia{
    font-family: 'Fjalla One', sans-serif;
    color: red;
    text-align: left;
    font-size: 60px;
}


.carousel-caption .cc{
    font-family: 'Fjalla One', sans-serif;
    color: azure;
    text-align: left;
    font-size: 50px;
} 

.carousel-caption .welcome{
    font-family: 'Lilita One', cursive;
    color: floralwhite;
    font-size: 50px;
}

.carousel-image {
    height: 600px;
    width: 100%;
    object-fit : cover;
}



#visimisi {
    padding-top: 5em;
    background-color: #fff1e6;
    padding-bottom: 3rem;
}


#jadwalibadah {
    padding-top: 5em;
    background-color: #e2e2e2;
    
}

#jadwalibadah .card {
    background-color: #abc4ff
    
}


#visitus {
    padding-top: 5em;
    background-color: #d7e3fc;
    padding-bottom: 1em;
    
}

.persembahan {
   max-width: 70%;
    background-color: #9cadce;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
   
}



.embed-responsive {
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.galeri{
    background-color:#abc4ff;
    padding: 80px 0;
   
}

.galeri img {
    max-width: 100%;
    background-color:bisque;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;

}

#galeri-modal .modal-img{
    width: 100%;
}

.fs-4 {
    padding-top: 1em;

}

